<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="myEnvironment" value="Dev" /> <!--or Prod-->
    
    <!--Prod-->
    <add key="username" value="lthomas@edcoe.org" />
    <add key="password" value="freedom4u" />
    <add key="token" value="GJBilwm9HMKbedPzSrVHDg26" />
    <add key="clientId" value="3MVG9mclR62wycM1JkMnfGb1Ea4VqtmGfQplDVZ.l0_NrMTBTa4sZwZnKBtVy0yMu4NUHusZpyi6VV3RccKtu" />
    <add key="clientSecret" value="4657324871156377945" />
    
    <!--Dev-->
    <add key="devUsername" value="lthomas@edcoe.org.dev" />
    <add key="devPassword" value="C0sm0P@n!" />
    <add key="devToken" value="WFaV6lYFKM10Z8yZ2DLE3KAu0" />
    <add key="devClientId" value="3MVG9JamK_x9K2XJrT_GNz2qdMxUUXvK6rHEWR2xXqtBZgtDFMti133uDjNu1cfJ4F6bTNFMQtiWZmGhglekN" />
    <add key="devClientSecret" value="2301086927127012314" />
  </appSettings>
</configuration>